@page
@model NachoTacos.Server.Authentication.Web.Pages.Private.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
</body>
</html>
